body {

}
h1 a {
    color: #FCA205;
	font-family: 'Open Sans';
}
.page-header {
    background-color: #333333;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    line-height: 40px;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', cursive;
}

.btn {
	float: right;
	position: relative;
	top: -3px;
	margin-left: 10px;
	height: 33px;
}

.btn-filtre {
    background-color: #B5B0A5;
    color: #333333;
    border: solid 1px black;
    width: 100%;
}

.btn-spe {
    background-color: #B5B0A5;
    color: #333333;
    border: solid 1px black;
    width: 50px;
}

.save {
    float: right;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
/* modification du comportement bootstrap */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

[class*="col-"], footer {
    padding: 0;
/*    border: 1px solid black;*/
}

.row {
    margin: 0;
}
/* fin modification */
.control {
    background-color: #A8A08E;
    position: relative;
    line-height: 25px;
    top: -21px;
}

.legende {
    background-color: #A8A08E;
    position: relative;
    line-height: 25px;
    word-wrap: break-word;
    font-weight: 700;

}

.row2 {
    background-color: inherit;
    word-wrap: break-word;
}
.row1 {
    background-color: #D0C5A9;
    word-wrap: break-word;
}
/* fenêtre modale */
.white_content {
  display: none;
  position: absolute;
  width: 75%;
  padding: 10px;
  border: 10px outset #333333;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}
/* pour les boutons de formulaire */
[id*="id_"] {
    background-color: #B5B0A5;
    border: 1px solid black;
}
