{% load staticfiles %}
<html>
    <head>
        <title>Stock du FabLab</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/stock.css' %}">
        <script src = "https://code.jquery.com/jquery-1.11.2.min.js"> </script>
        <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
    </head>
    <body>
        <div class="page-header">
            <div class="row">
                <div class="col-sm-2">
                    <img src="{% static 'css/openfactory_logo.png' %}">
                </div>
                <div class="col-md-5">
                    <h1><a href="{% url 'stock_list' %}">Stock du FabLab</a></h1>
                </div>
                <div class="col-md-5">
                {% if user.is_authenticated %}
                    <a href="http://{{ request.get_host }}/admin" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
                    <p class="top-menu"><small>Hello {{ user.username }} - </small></p>
                {% else %}
                    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
                    <p class="top-menu"><small>invité - </small></p>
                {% endif %}
                </div>
            </div>
        </div>

        <div class="post">
           <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        {% block control %}
                        {% endblock control %}
                        {% block content %}
                        {% endblock content%}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
